<h3>MultiPost</h3>

<div class="row">
	<form>
		<div class="span6">
			<label>Title</label>
			{{view Ember.TextField valueBinding="session.title"}}

			<label>Message</label>
			{{view Ember.TextArea rows=10 valueBinding="session.post"}}
		</div>

		<div class="span6">
			<div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			      	{{view Ember.Checkbox id="tumblr" disabledBinding="disabledTumblr" checkedBinding="session.tumblrActive"}} Tumblr
			      </label>
			      {{view Ember.Select contentBinding="blogs" disabledBinding="disabledTumblr" optionLabelPath="content.title" optionValuePath="content.name" valueBinding="session.tumblrBlog" }}
			      <label class="checkbox"> 
			        {{view Ember.Checkbox id="evernote" disabledBinding="disabledEvernote" checkedBinding="session.evernoteActive"}} Evernote
			      </label>
			      {{view Ember.Select contentBinding="notebooks" disabledBinding="disabledEvernote" optionLabelPath="content.name" optionValuePath="content.guid" valueBinding="session.evernoteNotebook"}}
			      <label class="checkbox">
			        {{view Ember.Checkbox id="sbwc" disabledBinding="disabledSBWC" checkedBinding="session.sbwcActive"}} SBWC
			      </label>
			      {{view Ember.TextField disabledBinding="disabledSBWC" valueBinding="session.sbwcThreadId"}}
			    </div>
		  	</div>
		</div>
	</form>
</div>


		<div class="form-actions">
		  <button type="submit" class="btn btn-primary" {{action "submitMultiPost"}}>Submit</button>
		  <button type="button" class="btn">Cancel</button>
		</div>
