<h3>MultiPost</h3>

<div class="row">
	<form>
		<div class="span6">
			<label>Title</label>
			{{view Ember.TextField valueBinding="session.title"}}

			<label>Message</label>
			{{view Ember.TextArea rows=10 valueBinding="session.post"}}
		</div>

		<div class="span6">
			<div class="control-group">
			    <div class="controls">
			      {{#if disabledTumblr}}	      
			      	<a class='btn' href="/multipost/tumblr_login">Authenticate with Tumblr</a>
			      {{else}}
			      <label class="checkbox">
			      	{{view Ember.Checkbox id="tumblr" disabledBinding="disabledTumblr" checkedBinding="session.tumblrActive"}} 
			      	Tumblr
			      </label>
			      {{/if}}
			      
			      {{view Ember.Select contentBinding="blogs" isVisibleBinding="blogVisible" optionLabelPath="content.title" optionValuePath="content.name" valueBinding="session.tumblrBlog" }}
			    
			      </div>
			  </div>

			<div class="control-group">
			    <div class="controls">
			      {{#if disabledEvernote}}
			      <a class="btn" href="/multipost/evernote_login">Authenticate with Evernote</a>
			      {{else}}
			      <label class="checkbox"> 
			        {{view Ember.Checkbox id="evernote" disabledBinding="disabledEvernote" checkedBinding="session.evernoteActive"}} 
			        Evernote
			      </label>
			      {{/if}}

			      {{view Ember.Select contentBinding="notebooks" isVisibleBinding="notebookVisible" optionLabelPath="content.name" optionValuePath="content.guid" valueBinding="session.evernoteNotebook"}}
			       </div>
			  </div>

			<!-- 
			<div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			        {{view Ember.Checkbox id="sbwc" checkedBinding="session.sbwcActive"}} SBWC
			      </label>
			      {{#if session.sbwcActive}}
			      <label>Thread ID</label>
			      {{view Ember.TextField valueBinding="session.sbwcThreadId"}}
			      {{else}}
			      	<legend>Login</legend>
			      	<label>Username</label>
			      	{{view Ember.TextField valueBinding="sbwc.userName"}}
			      	<label>Password</label>
			      	{{view Ember.TextField type="password" valueBinding="sbwc.password"}}
			      {{/if}}
			    </div>
		  	</div>-->
		</div>
	</form>
</div>


<div class="form-actions">
  <button type="submit" class="btn btn-primary" {{action "submitMultiPost"}}>Submit</button>
  <button type="button" class="btn">Cancel</button>
</div>
