<h3>MultiPost</h3>

<div >NOTEBOOK: </div>

<!-- {{#each notebook in controller.notebooks}}
NAME: {{notebook.name}}
{{/each}}

<div>BLOG</div>
{{#each blog in controller.blogs}}
NAME: {{blog.name}}
{{/each}} -->	

<div>SESSION: {{session.tumblrSession}}</div>


<div class="row">
	<form>
		<div class="span6">
			<label>Title</label>
			{{view Ember.TextField valueBinding="title"}}

			<label>Message</label>
			{{view Ember.TextArea rows=10 valueBinding="post"}}
		</div>

		<div class="span6">
			<div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			      	{{view Ember.Checkbox id="tumblr" disabledBinding="disabledTumblr"}} Tumblr
			      </label>
			      <label class="checkbox">
			        {{view Ember.Checkbox id="evernote" disabledBinding="!session.tumblrSession"}} Evernote
			      </label>
			      <label class="checkbox">
			        {{view Ember.Checkbox id="myBB"}} SBWC
			      </label>
			    </div>
		  	</div>
		</div>
	</form>
</div>


		<div class="form-actions">
		  <button type="submit" class="btn btn-primary" {{action "submitMultiPost"}}>Submit</button>
		  <button type="button" class="btn">Cancel</button>
		</div>
